
<style type="text/css">
html, body {
	margin-left: 0px;
	margin-right: 0px;
	background-color: yellow;	
}

button.refresh {
	background-color: black;
	color: rgba(218, 216, 217, 0.85);
	border-radius: 2px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.tweet {
	padding: 5px;
	border-top-style: solid;
	border-color: black;
	background-color: rgba(218, 216, 217, 0.35);
}

</style>