<style type="css/text">

body {
	background-color: green;
}

button {
	display: block;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style: none;
	border-right-style: none;
	border-color: black;
	margin-top: 40px;
	color: rgba(218, 216, 217);
	background-color: rgba(163, 250, 246, 0.35);
	border-radius: 2px;
  font-size: 18px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.oldT {
	padding: 5px;
	border-top-style: solid;
	border-color: black;
	background-color: rgba(163, 250, 246, 0.09);
	font-size: 15px;
	display: none;
}

.newT {
	font-weight: bold;
	padding: 5px;
	border-style: solid;
	border-color: #00008B; /* DarkBlue */ 
	background-color: #FFFFE0; /* Light Yellow */
	font-size: 16px;
	display: none;
}

</style>